<app-main-title [showAddBtn]="false" [title]="'Create'"> </app-main-title>

<app-breadcrumb
  [breadCrumbList]="[
    { title: 'Categories', link: '/financial/categories' },
    { title: title, link: '' }
  ]"
></app-breadcrumb>

<form [formGroup]="pageForm">
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input
          formControlName="title"
          class="form-control"
          id="title"
          name="title"
          aria-describedby="emailHelp"
        />
      </div>
      <app-validation-messages
        [control]="pageForm.get('title')"
        label="Title"
      ></app-validation-messages>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Type of transaction</label
          >
          <select formControlName="type" type="password" class="form-control">
            <option value="false">Expenses</option>
            <option value="true">Income</option>
          </select>
          <div class="form-text">
            Is this type of transaction income or expense?
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-success">Submit</button>
</form>
