<app-main-title [showAddBtn]="false" [title]="title"> </app-main-title>

<app-breadcrumb
  [breadCrumbList]="[
    { title: 'Users', link: '/financial/users' },
    { title: title, link: '' }
  ]"
></app-breadcrumb>

<form [formGroup]="pageForm" (ngSubmit)="handleSubmit()">
  <div class="row">
    <div *ngIf="hasError" class="alert alert-danger">
      Please fix this error(s) and try again
      <ul>
        <li *ngFor="let item of errors">
          {{ item }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label for="oldPassword" class="form-label">Current password</label>
        <input formControlName="oldPassword" class="form-control" />
      </div>
      <app-validation-messages
        [control]="pageForm.get('oldPassword')"
        label="oldPassword"
      ></app-validation-messages>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <label for="newPassword" class="form-label">New password</label>
        <input formControlName="newPassword" class="form-control" />
      </div>
      <app-validation-messages
        [control]="pageForm.get('newPassword')"
        label="newPassword"
      ></app-validation-messages>
    </div>
  </div>

  <div></div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
