<app-main-title [showAddBtn]="false" [title]="title"> </app-main-title>

<app-breadcrumb
  [breadCrumbList]="[
    { title: 'Transactions', link: '/financial/transactions' },
    { title: title, link: '' }
  ]"
></app-breadcrumb>

<div class="row">
  <div class="col-md-4 mb-4">
    <span class="fw-bold"> Title: </span>
    {{ transactionData.description }}
  </div>
  <div class="col-md-4 mb-4">
    <span class="fw-bold"> Amount: </span>
    {{ transactionData.amount | number : "1.0-2" }}
  </div>
  <div class="col-md-4 mb-4">
    <span class="fw-bold"> Date: </span>
    {{ transactionData.dateRegistered | date : "yyyy/MM/dd" }}
  </div>
  <div class="col-md-4 mb-4">
    <span class="fw-bold"> Category: </span>
    {{ transactionData.category }}
  </div>

  <div class="col-md-4 mb-4" *ngIf="transactionData.fileAttached">
    <span class="fw-bold">File:</span>
    <a [href]="transactionData.fileAttached" target="_blank">View File</a>
  </div>

  <div class="col-12 mt-5">
    <form>
      <button (click)="confirmDelete($event)" class="btn btn-danger">
        Delete
      </button>
    </form>
  </div>
</div>
