<app-main-title [showAddBtn]="true" [title]="'Transactions'"></app-main-title>

<app-breadcrumb [breadCrumbList]="[{ title: title, link: '' }]">
</app-breadcrumb>

<app-error-message [errors]="errors"></app-error-message>
<div class="row mb-5">
  <div class="col-md-6">
    <div class="card p-3">
      <h2>Income:</h2>
      {{ inputSum | number : "1.0-2" }}
    </div>
  </div>
  <div class="col-md-6">
    <div class="card p-3">
      <h2>Expenses:</h2>
      {{ outputSum | number : "1.0-2" }}
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-3">
    <label for="dateFrom">From:</label>
    <input
      [(ngModel)]="dateFrom"
      id="dateFrom"
      type="date"
      class="form-control"
    />
  </div>
  <div class="col-md-3">
    <label for="dateTo">To:</label>
    <input [(ngModel)]="dateTo" id="dateTo" type="date" class="form-control" />
  </div>
  <div class="col-md-5">
    <label for="catId">Type:</label>
    <select #selectElement multiple="multiple" class="form-control">
      <option *ngFor="let cat of categories" [value]="cat.idCategory">
        {{ cat.title }}
        {{ cat.isInput ? "+(Income)" : "-(Expense)" }}
      </option>
    </select>
  </div>
  <div class="col-md-1">
    <button (click)="handleFilter()" class="btn btn-primary mt-4">
      Filter
    </button>
  </div>
</div>

<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <td>#</td>
      <td>
        <span (click)="sortColumns('description')" style="cursor: pointer">
          Description
          <i
            *ngIf="sortField === 'description'"
            [ngClass]="['fa', sortAsc ? 'fa-arrow-down' : 'fa-arrow-up']"
          ></i>
        </span>
      </td>
      <td>
        <span (click)="sortColumns('amount')" style="cursor: pointer">
          Amount
          <i
            *ngIf="sortField === 'amount'"
            [ngClass]="['fa', sortAsc ? 'fa-arrow-down' : 'fa-arrow-up']"
          ></i>
        </span>
      </td>
      <td>
        <span (click)="sortColumns('category')" style="cursor: pointer">
          Category
          <i
            *ngIf="sortField === 'category'"
            [ngClass]="['fa', sortAsc ? 'fa-arrow-down' : 'fa-arrow-up']"
          ></i>
        </span>
      </td>
      <td>
        <span (click)="sortColumns('isInput')" style="cursor: pointer">
          Type
          <i
            *ngIf="sortField === 'isInput'"
            [ngClass]="['fa', sortAsc ? 'fa-arrow-down' : 'fa-arrow-up']"
          ></i>
        </span>
      </td>
      <td>
        <span (click)="sortColumns('dateRegistered')" style="cursor: pointer">
          Date
          <i
            *ngIf="sortField === 'dateRegistered'"
            [ngClass]="['fa', sortAsc ? 'fa-arrow-down' : 'fa-arrow-up']"
          ></i>
        </span>
      </td>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of transactions; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.amount | number : "1.0-2" }}</td>
      <td>{{ item.category }}</td>
      <td>
        <span class="text-success" *ngIf="item.isInput">
          <i
            class="fa fa-arrow-up-right-from-square"
            style="transform: rotate(180deg)"
          ></i>
          Income</span
        >
        <span class="text-warning" *ngIf="!item.isInput">
          <i class="fa fa-arrow-up-right-from-square"></i>
          Expense</span
        >
      </td>
      <td>{{ item.dateRegistered | date : "yyyy/MM/dd" }}</td>

      <th>
        <a
          routerLink="/financial/transactions/details/{{ item.idTransaction }}"
        >
          <i class="text-primary bi bi-info-circle"></i>
        </a>
        |
        <a routerLink="/financial/transactions/edit/{{ item.idTransaction }}">
          <i class="text-warning bi bi-pencil"></i>
        </a>
        |
        <a routerLink="/financial/transactions/delete/{{ item.idTransaction }}">
          <i class="text-danger bi bi-trash"></i>
        </a>
      </th>
    </tr>
  </tbody>
</table>
