<app-main-title [showAddBtn]="false" [title]="title"> </app-main-title>

<app-breadcrumb
  [breadCrumbList]="[
    { title: 'Transactions', link: '/financial/transactions' },
    { title: title, link: '' }
  ]"
></app-breadcrumb>
<form [formGroup]="pageForm" (ngSubmit)="handleSubmit()">
  <div class="row">
    <app-error-message [errors]="errors"></app-error-message>
    <div class="col-md-6">
      <div class="mb-3">
        <div class="mb-3">
          <label for="IsInput" class="form-label">Type of transaction</label>
          <select
            autofocus
            (change)="loadCategories()"
            formControlName="IsInput"
            type="password"
            class="form-control"
          >
            <option [ngValue]="false">Expenses</option>
            <option [ngValue]="true">Income</option>
          </select>
          <app-validation-messages
            [control]="pageForm.get('IsInput')"
            label="Type of transaction"
          ></app-validation-messages>
          <div class="form-text">
            Is this type of transaction income or expense ?
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <div class="mb-3">
          <label for="IdCategory" class="form-label">Category</label>
          <select formControlName="IdCategory" class="form-control">
            <option *ngFor="let cat of categories" [value]="cat.idCategory">
              {{ cat.title }}
            </option>
          </select>
          <app-validation-messages
            [control]="pageForm.get('IdCategory')"
            label="Type of transaction"
          ></app-validation-messages>
          <div class="form-text">
            Is this type of transaction income or expense?
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input formControlName="Description" class="form-control" />
      </div>
      <app-validation-messages
        [control]="pageForm.get('Description')"
        label="Description"
      ></app-validation-messages>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <label for="Amount" class="form-label">Amount</label>
        <input
          formControlName="Amount"
          type="number"
          step="0.01"
          class="form-control"
        />
      </div>
      <app-validation-messages
        [control]="pageForm.get('Amount')"
        label="Amount"
      ></app-validation-messages>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="dateRegistered" class="form-label">Date </label>
        <input
          type="date"
          formControlName="dateRegistered"
          class="form-control"
        />
        <app-validation-messages
          [control]="pageForm.get('dateRegistered')"
          label="Date"
        ></app-validation-messages>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <label for="dateRegistered" class="form-label">Attachment </label>
        <input
          type="file"
          (change)="onFileChange($event)"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div></div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
