<app-main-title [showAddBtn]="false" [title]="title"> </app-main-title>

<app-breadcrumb
  [breadCrumbList]="[
    { title: 'Categories', link: '/financial/categories' },
    { title: title, link: '' }
  ]"
></app-breadcrumb>

<div class="row">
  <app-error-message [errors]="errors"></app-error-message>
  <div class="col-12 my-4">
    <h2>Are you sure about deleting this information?</h2>
  </div>
  <div class="col-md-4">
    Title:
    {{ category.title }}
  </div>
  <div class="col-md-4">
    Type :
    <span class="text-success" *ngIf="category.isInput">Income</span>
    <span class="text-warning" *ngIf="!category.isInput">Expense</span>
  </div>

  <div class="col-12 mt-5">
    <form (submit)="confirmDelete($event)">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>
